n8n-workflows/mimotes-ocr.json
{
  "name": "mimotes-ocr",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mimotes-ocr",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body;\nconst {imageUrl, documentId, workspaceId} = b;\nif (!imageUrl || !documentId) throw new Error('imageUrl and documentId required');\nreturn [{json: {imageUrl, documentId, workspaceId}}];"
      },
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const url = $json.imageUrl.replace('localhost:3100', 'app:3000');\nconst r = await this.helpers.httpRequest({url: url, encoding: 'arraybuffer', headers: {'Accept': 'image/*'}});\nreturn [{json: {...$json, imageData: Buffer.from(r).toString('base64')}}];"
      },
      "name": "Fetch Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const r = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://paddleocr:8090/ocr',\n  headers: { 'Content-Type': 'application/json' },\n  body: { image_base64: $json.imageData, language: 'en' },\n  json: true\n});\n\nlet ocrText = '';\nif (r.text && r.text.trim()) {\n  ocrText = r.text;\n} else if (r.blocks && Array.isArray(r.blocks)) {\n  ocrText = r.blocks.map(b => b.text).join('\n');\n}\n\nreturn [{json: {...$json, ocrText: ocrText.trim(), ocrConfidence: r.total_confidence || 0, ocrBlocks: r.total_blocks || 0}}];"
      },
      "name": "PaddleOCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE document_chunks SET ocr_text = E'{{ $('PaddleOCR').item.json.ocrText }}', chunk_type = 'image' WHERE document_id = '{{ $('Extract Input').item.json.documentId }}';"
      },
      "name": "Store OCR",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 300],
      "credentials": "evYevfu1O605g6PV"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Extract Input", "type": "main", "index": 0}]]},
    "Extract Input": {"main": [[{"node": "Fetch Image", "type": "main", "index": 0}]]},
    "Fetch Image": {"main": [[{"node": "PaddleOCR", "type": "main", "index": 0}]]},
    "PaddleOCR": {"main": [[{"node": "Store OCR", "type": "main", "index": 0}]]},
    "Store OCR": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
